APP_DEBUG=true

SERVER_PROCESS_GROUP=''
SERVER_PROCESS_USER=''

DB_CONNECTION=mysql
DB_HOST=sqlhost
DB_PORT=3306
DB_DATABASE=db
DB_USERNAME=dbuser
DB_PASSWORD=dbpass

SESSION_DRIVER=file
LOG_ROTATE=1
LOG_LEVEL=100

Exchangerates_API_KEY=519360f04df9c2f5faec0223ee43a1db
